#levelContainer img{
    position: absolute;
    width: 70px;
    max-height: 300px;
}
.bg{
    filter: /*sepia(100%) saturate(1000%) brightness(70%) hue-rotate(180deg)*/ opacity(35%);
    position:fixed;
    top:0;
    left:0;
    background:url('style/bg.png');
    width:100vw;
    height:100vh;
    background-size:100% auto;
    background-position:0px;
    z-index:-101;
}

#back {
    position: fixed;
    width: 100px;
    height: auto;
    top:10%;
    left:5%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999999;
    opacity: 0.5;
    transition-duration: 200ms;
}#back:active{width: 110px;} #back:hover{cursor: pointer;opacity: 1;transition-duration: 200ms;} 